
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: 'open sans';
    font-size: 16px;
    }
    .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}
/* Sobre usted */
.sobre-usted {
text-align: center;
font-size: 45px;
margin-bottom: 10px;
font-weight: 600;
 color: #0b2e59;
}
.parrafo {
margin-bottom: 13px;
font-weight: 300;
text-align: justify;
line-height: 24px;
color: #444;
font-size: 21px;
}
.acerca-de .boton {
display: inline-block;
padding: 6px;
width: 135px;
font-weight: 300;
border: 1px solid rgba(24, 16, 16, 0.815);
color: #0b2e59;
font-size: 20px;
font-family: 'Times New Roman', Times, serif, sans-serif;
text-align: center;
text-decoration: none;
border-radius: 16px;
margin-top: 24px;
}
.galeria {
width: 100%;
height: 500px;
overflow: hidden;
display: flex;
position: relative;
flex-wrap: wrap;
}


.imagenes {
width: 20%;
height: 500px;
overflow: hidden;
position: relative;
}
.imagenes img {
width: 100%;
height: 100%;
object-fit: cover;
}
.encima {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(52, 73, 94, 0.815);
}
.encima h2 {
position: relative;
top: 45%;
text-align: center;
color: #fff;
}
.encima div {
position: relative;
display: block;
top: 46%;
width: 40px;
height: 5px;
background: rgb(218, 124, 124);
margin: auto;
}
.cards {
width: 100%;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
color: #0b2e59 ;
}
.card {
margin: 20px 0;
width: 30%;
height: 290px;
text-align: center;
padding: 20px;
box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}
.cards img {
width: 140px;
height: 140px;
object-fit: cover;
border-radius: 100%;
}


.burbuja img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Imagen también redonda */
    object-fit: cover;
}




.objetivo,
.subtitulo-objetivo {
color: #fff;
text-align: center;
}
.objetivo {
font-size: 56px;
margin-top: 48px;
}
.subtitulo-objetivo {
font-size: 35px;
font-weight: 300;
margin-bottom: 64px;
}


.imagen-logo {
display: flex;
flex-wrap: wrap;
margin-bottom: 64px;
width: 100%;
justify-content: space-between;
}
.imagen-logo {
width: 30%;
}
.imagen-logo img {
width: 100%;
margin-left: 325px;
}

@media screen and (max-width:900px) {
.card {
width: 48%;
}
}
@media screen and (max-width:610px) {
header .textos {
margin-top: 130px;
}
header .titulo {
font-size: 75px;
}
.none {
display: none
}
.imagenes {
flex-grow: 1;
}
.card {
width: 90%;

}
.fondo {
height: auto;
}
.especial {
display: none;
}
.imagen-logo {
margin-left:-160px;
}
}
@media screen and (max-width:380px) {
header .textos {
margin-top: 100px;
}
header .titulo {
font-size: 65px;
}
header .subtitulo {
font-size: 25px;
margin-bottom: 32px;
}
.sobre-nosotros {
font-size: 46px;
}
.objetivo {
font-size: 46px;
}
.subtitulo-objetivo {
font-size: 20px;
}
}

footer{
    width: 100%;
    background: #0b2e59;
    color: rgb(253, 245, 245);
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img, video {
  max-width: 100%;
  height: auto;
}

 p {
      color: #444; 
    }


